@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Sarina|Poppins");

/* .white-text-dropdown .dropdown-toggle {
  color: white !important;
} */

.navbar-wrapper {
  margin: 0 2%;
  display: flex;
  width: 100%;
}



.main-logo-wrapper {
  display: flex;
  justify-content: center;
}


* {
  font-family: 'Poppins', serif;
}



.page-content {
  margin-bottom: 5%;
}

/******************** WorkoutLog Page Styles *********************/
.workoutlog-table {
  text-align: center;
}
.workoutlog-table tbody tr td {
  align-content: center;
}

